.bg {
    background: url('../images/gameBg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.span {
    padding: 2vh 1vw;
    font:bold 8vh/13vh Helvetica;
    text-shadow: 5px 6px 1px #373740, 0 0 1em #ffb900;
    color: #fbfb3d;
}
.container {
    display: flex;
    flex-direction: row;
}
.clock{
    background: url('../images/clock.png') no-repeat;
    background-size: 100%;
    height: 9vh;
    width: 4vw;
    margin-top: 4vh;
    margin-left: 7vw;
}
.score {
    background: url('../images/sc.jpg') no-repeat;
    background-size: 100%;
    height: 8vh;
    width: 4vw;
    margin-top: 4vh;
    margin-left: 3vw;
    border-radius: 1vw;
}

.exit {
    background: url('../images/exit.png') no-repeat center center;
    background-size: cover;
    margin-left: 55vw;
    margin-top: 5vh;
    height: 8vh;
    width: 8vw;
}