.bg {
    background: url('../images/gameBg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.h1 {
    padding: 5vh 5vw;
    font:bold 8vh/3vh Helvetica;
    text-shadow: 5px 6px 1px #373740, 0 0 1em #ffb900;
    color: #fbfb3d;
}