.container {
    background: url('../images/menuBg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    width: 30vw;
    padding-top: 30vh;
    padding-left: 70vw;
    display: flex;
    flex-direction: column
}
.nav {
    height: 7vh;
    width: 20vw;
    margin: 3vh auto;
    padding-top: 4vh;
    border: 3px solid black;
    border-radius: 10px;
    background: url('../images/bg1.jpg')  center center;
    background-size: contain;
    box-shadow: 1px 1px 2px black, 0 0 1em #004321;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #39a733;
    font:bold 30px/24px Helvetica;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.nav:hover {
    color: #54ff4d;
    box-shadow: 4px 4px 8px black, 0 0 3em #226323;
}
.bg {
    background-color: rgba(29, 29, 29, 0.95);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 4vh;
    box-sizing: border-box;
}
.icon {
    height: 25vh;
    width: 20vw;
    margin: 1.5vh 2.5vw;
    border-radius: 20px;
    border:3px solid white;

}
.icon:hover{
    color: #ffb900;
    box-shadow: 3px 3px 6px black, 0 0 3em #ffb900;
    border-color: #ffb900;
}


.icon:active {
    animation: swing 0.3s ease;
    animation-iteration-count: 10;
}

@keyframes swing {
    5% {
        transform: translateX(19px);
    }
    10% {
        transform: translateX(-19px);
    }
    20% {
        transform: translateX(16px);
    }
    40% {
        transform: translateX(-16px);
    }
    55% {
        transform: translateX(11px)
    }
    65% {
        transform: translateX(-8px)
    }
    75% {
        transform: translateX(7px)
    }
    85% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}


.s0{
    background: url('../images/s1.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s1{
    background: url('../images/s2.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s2{
    background: url('../images/s3.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s3{
    background: url('../images/s4.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s4{
    background: url('../images/s5.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s5{
    background: url('../images/s6.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s6{
    background: url('../images/s7.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s7{
    background: url('../images/s8.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s8{
    background: url('../images/s9.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s9{
    background: url('../images/s10.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s10{
    background: url('../images/s11.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.s11{
    background: url('../images/s12.jpg');
    background-size: cover;
    height: 18vh;
    width: 20vw;
    border-radius: 20px;
}
.string{
    float: left;
    margin-top: 10px;
    font: bold 24px/18px Helvetica;
    text-shadow: 2px 2px 4px rgba(176, 0, 13, 0.88), 0 0 1em rgba(7, 7, 8, 0.97);
    color: white;
}
.scale{
    float: left;
    margin-left: 2vw;
    margin-top: 1vh;
    width: 11vw;
    height: 5vh;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.cell{
    margin: 0.3vh 0.1vw;
    border: 1px solid white;
    width:12%;
    height: 80%;
    background-color: forestgreen;
}
